# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Streamlit
.streamlit/

# OS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Docker
*.tar

# VS Code
.vscode/

# Mac
*.DS_Store